body {
	background-color: #282a36;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	vertical-align: middle;
}

#app {
	width: 75%;
	height: 75%;
	margin: 0 auto;
	border: 2px solid #e8e8e8;
	border-radius: 50px;
	padding: 50px;
	align-items: center;
	justify-content: center;
	display: flex;
}

#app * {
	margin: 0 auto;
}

.sidebar {
	display : flex;
	align-items: center;
	justify-content: center;
	
}

label {
	display: flex;
	width: 75px;
	height: 50px;
	border : 1px solid #e8e8e8;
	color: #e8e8e8;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

canvas {
	border: 5px solid #e8e8e8;
	border-radius: 10px;
}

h1, h2, p {
	color: #e8e8e8;
	max-width: min-content;
	margin: 0 auto;
}